.one {
   background-image: url(img/lion1.png);
   background-position-y: -15px;
   background-size: cover;
}

.two {
   background-image: url(img/lion1.png);
   background-position-y: -15px;
   background-size: cover;
}

.three {
   background-image: url(img/lb.png);
   background-position: -12px;
   background-size: cover;

}

.four {
   background-image: url(img/snake.png);
   background-position: -10px;
   background-size: cover;

}
.five {
   background-image: url(img/turtle.png);
   background-size: 100%;
   background-position-y: 25px;
  
}

.six {
   background-image: url(img/lb.png);
   background-position: -12px;
   background-size: cover;

}

.seven {
   background-image: url(img/turt.png);
   background-position: -8px;
   background-size: cover;
  
}

.eight {
   background-image: url(img/turt.png);
   background-position: -8px;
   background-size: cover;
  
}

.nine {
   background-image: url(img/turtle.png);
   background-size: 100%;
   background-position-y: 25px;
   

}

.ten {
   background-image: url(img/leo.png);
   background-position-y: 15px;
   background-size: 100%;
  
}

.eleven {
   background-image: url(img/snake.png);
   background-position: -10px;
   background-size: cover;

}

.twelve {
   background-image: url(img/ship.png);
   background-position-y: -10px;
   background-size: cover;
  

}

.thirteen {
   background-image: url(img/crock.png);
   background-size: 100%;
   background-position: -3px;

}

.fourteen {
   background-image: url(img/leo.png);
   background-position-y: 15px;
   background-size: 100%;
   
}

.fithteen {
   background-image: url(img/crock.png);
   background-size: 100%;
   background-position: -3px;
   
}

.sixteen {
   background-image: url(img/ship.png);
   background-position-y: -10px;
   background-size: cover;
 
}